{% extends 'emisores/baseEmisor.html' %}
{% block titulo_page %}Ayuda{% endblock%}
{% block body %}


	<h3>Ayuda</h3>
	<div class="separator-h"></div>

	<div class="row">
		<div class="col-md-7">
			<form class="margin-none">
				<div class="row">
					<div class="col-md-6">
						<input type="text" class="form-control" name="name" placeholder="Su Nombre">
					</div>
					<div class="col-md-6"> 
						<input type="text" class="form-control" name="phone" placeholder="Teléfono">
					</div>
				</div>
				
				<div class="innerT">
					<div class="row">
						<select class="selectpicker col-md-12 ">
							<option>Seleccione el tipo de ayuda que busca:</option>
							<option>Opción 01</option>
						</select> 
					</div>
					<textarea name="message" class="form-control" rows="5" placeholder="Mensaje"></textarea>
					<div class="right innerT">
						<button class="btn btn-success">Enviar</button>
					</div>
				</div>
			</form>
		</div>
		
	</div>

{% endblock %}
{% block bottom_javascripts %}
				<!-- Global -->
				<script data-id="App.Config">
				var App = {};	var basePath = '',
					commonPath = '{{ STATIC_URL }}',
					rootPath = '../',
					DEV = false,
					componentsPath = '{{ STATIC_URL }}components/';
				
				var primaryColor = '#3695d5',
					dangerColor = '#b55151',
					successColor = '#609450',
					infoColor = '#4a8bc2',
					warningColor = '#ab7a4b',
					inverseColor = '#45484d';
				
				var themerPrimaryColor = primaryColor;
			
					</script>
				
				<script src="{{ STATIC_URL }}components/library/bootstrap/js/bootstrap.min.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/plugins/breakpoints/breakpoints.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/plugins/preload/pace/pace.min.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/plugins/preload/pace/preload.pace.init.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/core/js/animations.init.js?v=v1.0.2"></script>
			<script src="{{ STATIC_URL }}components/modules/admin/charts/flot/assets/lib/jquery.flot.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/modules/admin/charts/flot/assets/lib/jquery.flot.resize.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/modules/admin/charts/flot/assets/lib/plugins/jquery.flot.tooltip.min.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/modules/admin/charts/flot/assets/custom/js/flotcharts.common.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/modules/admin/charts/flot/assets/custom/js/flotchart-line-2.init.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/modules/admin/charts/flot/assets/custom/js/flotchart-mixed-1.init.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/modules/admin/charts/flot/assets/custom/js/flotchart-bars-horizontal.init.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/modules/admin/charts/easy-pie/assets/lib/js/jquery.easy-pie-chart.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/modules/admin/charts/easy-pie/assets/custom/easy-pie.init.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/modules/admin/charts/sparkline/jquery.sparkline.min.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/modules/admin/charts/sparkline/sparkline.init.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/modules/admin/maps/vector/assets/lib/jquery-jvectormap-1.2.2.min.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/modules/admin/maps/vector/assets/lib/maps/jquery-jvectormap-world-mill-en.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/modules/admin/maps/vector/assets/custom/maps-vector.world-map-markers.init.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/core/js/sidebar.main.init.js?v=v1.0.2"></script>
			<script src="{{ STATIC_URL }}components/core/js/sidebar.discover.init.js?v=v1.0.2"></script>
			<script src="{{ STATIC_URL }}components/core/js/core.init.js?v=v1.0.2"></script>	
			
			<script src="{{ STATIC_URL }}components/common/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/common/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.0.2&sv=v0.0.1"></script>
			
			<script src="{{ STATIC_URL }}components/common/forms/validator/assets/lib/jquery-validation/dist/jquery.validate.min.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/common/forms/validator/assets/custom/form-validator.init.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/common/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.0.2&sv=v0.0.1"></script>
			
			<script src="{{ STATIC_URL }}components/modules/admin/modals/assets/js/bootbox.min.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/modules/admin/modals/assets/js/modals.init.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/modules/admin/notifications/gritter/assets/lib/js/jquery.gritter.min.js?v=v1.0.2&sv=v0.0.1"></script>
			<script src="{{ STATIC_URL }}components/modules/admin/notifications/gritter/assets/custom/js/gritter.init.js?v=v1.0.2&sv=v0.0.1"></script>
{% endblock %}