{% extends 'emisores/baseEmisor.html' %}
{% block titulo_page %}{{ cupon.titular_cupon }} | Cupones de Descuento{% endblock %}
{% load static from staticfiles %}
{% block top_javascripts %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/admin/coupons.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/table/demo_table.css"/>
    <script src="{% static 'util/jquery.PrintArea.js' %}"></script>
{% endblock %}
{% block body %}

    <!-- First grid -->
    <h3 class="margin-none pull-left pestana">{{cupon.categoria}}&nbsp;/&nbsp;{{cupon.sub_categoria}}&nbsp;/&nbsp;{{cupon.titular_cupon}}</h3>
    <div class="clearfix"></div>
    <div class="tablaBCK">
        <div class="clearfix"></div>
        <div class="separator-h"></div>
        <!-- Widget -->
        <div class="widget widget-body-white">

            {% load visits_tags %}
            {% get_visits cupon as visits %}

            <!-- // Widget heading END -->
            <div class="widget-body">
                <!-- Total bookings & sort by options -->
                <!-- // Total bookings & sort by options END -->
                    <!-- Cupon -->
                    <span style="display: inline-block;">
                        <img src="{{ cupon.ruta_imagen_cupon.url }}"/><br>
                        <div class="clearfix"></div><br>
                        <b>Numero de visitas: </b><p style="text-align: justify">{{ visits }}</p>
                        <b>Numero de impresiones: </b><p style="text-align: justify">{{ cupon.nro_impresiones }}</p>
                        <b>Detalles: </b><p style="text-align: justify">{{ cupon.detalles_cupon }}</p>
                        <b>Validez: </b><p style="text-align: justify">{{ cupon.detalles_validez }}</p>
                        <b>Fecha de publicación:</b><p>{{ cupon.fecha_publicacion }}</p>
                        <b>Fecha final de publicación:</b><p>{{ cupon.fecha_final_publicacion }}</p>
                        <b>Empresa: </b><p style="text-align: justify">{{ cupon.ruc_empresa.nombre_comercial }}</p>
                        <b>Código: </b><p>{{ cupon.codigo }}</p>
                        
                        <!-- Total bookings & sort by options -->
                        <div class="clearfix"><br/></div>
                        <div class="clearfix"><br/></div>
                        <div class="separator bottom">
                            <span class="pull-right">
                                {% if perms.core.add_cupon%}
                                <a href="/cupones-descuento/editar-cupon/{{ cupon.id }}/" class="btn btn-success link">
                                    <i class="fa fa-pencil"></i>&nbsp;Editar
                                </a>
                                {% endif %}
                                <a href="javascript:agregar_bandeja_impresion('{{cupon.id}}','cupon')" class="btn btn-success">
                                    <i class="fa fa-print"></i>&nbsp;Imprimir
                                </a>
                            </span>
                        </div>
                        <div class="clearfix"></div>
                        <!-- // Total bookings & sort by options END -->
                        </span>
                    <!-- Cupon END -->
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- With selected actions -->
    </div>
{% endblock %}
{% block bottom_javascripts %}
    <!-- Global -->
    <script data-id="App.Config">
        var App = {};
        var basePath = '',
                commonPath = '{{ STATIC_URL }}',
                rootPath = '../',
                DEV = false,
                componentsPath = '{{ STATIC_URL }}components/';

        var primaryColor = '#3695d5',
                dangerColor = '#b55151',
                successColor = '#609450',
                infoColor = '#4a8bc2',
                warningColor = '#ab7a4b',
                inverseColor = '#45484d';

        var themerPrimaryColor = primaryColor;
    </script>

    <script src="{{ STATIC_URL }}components/library/bootstrap/js/bootstrap.min.js?v=v1.0.2&sv=v0.0.1"></script>
    <script src="{{ STATIC_URL }}components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.0.2&sv=v0.0.1"></script>
    <script src="{{ STATIC_URL }}components/plugins/breakpoints/breakpoints.js?v=v1.0.2&sv=v0.0.1"></script>
    <script src="{{ STATIC_URL }}components/plugins/preload/pace/pace.min.js?v=v1.0.2&sv=v0.0.1"></script>
    <script src="{{ STATIC_URL }}components/plugins/preload/pace/preload.pace.init.js?v=v1.0.2&sv=v0.0.1"></script>
    <script src="{{ STATIC_URL }}components/core/js/animations.init.js?v=v1.0.2"></script>

    <script src="{{ STATIC_URL }}components/core/js/sidebar.main.init.js?v=v1.0.2"></script>
    <script src="{{ STATIC_URL }}components/core/js/sidebar.discover.init.js?v=v1.0.2"></script>
    <script src="{{ STATIC_URL }}components/core/js/core.init.js?v=v1.0.2"></script>
    
    <script src="{{ STATIC_URL }}components/core/modules/commons.js"></script>

{% endblock %}
