<div class="modal fade" id="modal-emisores">
    <div class="modal-dialog">
       <div class="modal-content">
          <!-- Modal heading -->
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             <h3 class="modal-title">Validar Acceso Emisor</h3>
          </div>
          <!-- // Modal heading END -->
          <!-- Modal body -->
          <center>
             <div class="modal-body">
                <div class="innerAll">
                   <h5 class="strong">¿Cuál es el resultado de la suma?</h5>
                   <div id="btn3" name="btn3"  class="btn btn-circle btn-success"></div>
                   <button class="btn btn-circle btn-primary">+</button>
                   <div id="btn4" name="btn4"  class="btn btn-circle btn-success"></div>
                </div>
                <div class="innerAll">
                   <label>Código:</label>
                   <div class="input-group">
                      <input type="hidden" name="txtResultado2" id="txtResultado2" class="form-control" value="" disabled="disabled" />
                      <input type="text" name="txtfrom2" id="txtfrom2" class="form-control" value="" disabled="disabled" />
                   </div>
                </div>
                <div class="innerAll">
                   <button id="btn_11" class="btn btn-circle btn-success" onclick="leerDatos('btn_11', 'txtfrom2')">1</button>
                   <button id="btn_12" class="btn btn-circle btn-success" onclick="leerDatos('btn_12', 'txtfrom2')">2</button>
                   <button id="btn_13" class="btn btn-circle btn-success" onclick="leerDatos('btn_13', 'txtfrom2')">3</button>
                   <button id="btn_14" class="btn btn-circle btn-success" onclick="leerDatos('btn_14', 'txtfrom2')">4</button>
                   <button id="btn_15" class="btn btn-circle btn-success" onclick="leerDatos('btn_15', 'txtfrom2')">5</button>
                   <button id="btn_16" class="btn btn-circle btn-success" onclick="leerDatos('btn_16', 'txtfrom2')">6</button>
                   <button id="btn_17" class="btn btn-circle btn-success" onclick="leerDatos('btn_17', 'txtfrom2')">7</button>
                   <button id="btn_18" class="btn btn-circle btn-success" onclick="leerDatos('btn_18', 'txtfrom2')">8</button>
                   <button id="btn_19" class="btn btn-circle btn-success" onclick="leerDatos('btn_19', 'txtfrom2')">9</button>
                   <button id="btn_20" class="btn btn-circle btn-success" onclick="leerDatos('btn_20', 'txtfrom2')">0</button>
                </div>
             </div>
          </center>
          <!-- // Modal body END -->
          <!-- Modal footer -->
          <!-- // Modal footer END -->
       </div>
    </div>
</div>
