<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8 "> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9 "> <![endif]-->
<!--[if gt IE 8]> <html class="ie "> <![endif]-->
<!--[if !IE]><!--><html class=""><!-- <![endif]-->
<head>
	<title>Innobee - Crear Buzon</title>

	<!-- Meta -->
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

	<!--
	**********************************************************
	In development, use the LESS files and the less.js compiler
	instead of the minified CSS loaded by default.
	**********************************************************
	<link rel="stylesheet/less" href="{{ STATIC_URL }}less/admin/module.admin.stylesheet-complete.less" />
	-->

		<!--[if lt IE 9]><link rel="stylesheet" href="{{ STATIC_URL }}components/library/bootstrap/css/bootstrap.min.css" /><![endif]-->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/admin/module.admin.stylesheet-complete.min.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/admin/innobee.css" />
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


	<script src="{{ STATIC_URL }}components/library/jquery/jquery.min.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/library/jquery/jquery-migrate.min.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/library/modernizr/modernizr.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/plugins/less-js/less.min.js?v=v1.0.2&sv=v0.0.1"></script>
<script>if (/*@cc_on!@*/false && document.documentMode === 10) { document.documentElement.className+=' ie ie10'; }</script>
<script src="{{ STATIC_URL }}util/util.js"></script>

</head>
<body class=" loginWrapper">

	<!-- Main Container Fluid -->
	<div class="container-fluid menu-hidden">


		<!-- Content -->
		<div id="content">

<!-- // END navbar -->



<!-- row-app -->
<div class="row row-app">

	<!-- col -->
		<!-- col-separator.box -->
		<div class="col-separator col-unscrollable box">

			<!-- col-table -->
			<div class="col-table">



				<!-- col-table-row -->
				<div class="col-table-row">

					<!-- col-app -->
					<div class="col-app col-unscrollable">

						<!-- col-app -->
						<div class="col-app">
							<div class="login">
								<div class="placeholder text-center"><img src="{{ STATIC_URL }}images/inobee-login.png" alt="" /></div>
								<div class="panel panel-default col-md-6 col-sm-4 col-sm-offset-2 col-md-offset-3">

								  <div class="panel-body">
                                                                          <div style="width: 50%; margin:auto; height:auto;">
                                                                          {% if messages %}
                                                                              <ul class="alert alert-success">
                                                                              {% for message in messages %}
                                                                                 <li> {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                                                                  {{ message }}
                                                                                 </li>
                                                                               {% endfor %}
                                                                               </ul>
                                                                          {% endif %}
                                                                          </div>

								  <table width="100%">
								  <tr>
								  <td width="45%" style="padding: 10px!important; background-color: #fefbe4; border: 1px solid #ddd;">
								 {% if validlink %}
                                                                  <div class="form_center">
                                                                    <h2>Restablecimiento de Clave</h2>
                                                                    <form method="post" action="">
                                                                      {{ form.as_p }}
                                                                      <input type="submit" value="Enviar" />
                                                                    </form>
                                                                  </div>
                                                                  {% else %}                                                                  
                                                                  <p>Restablecimiento de Clave Fallido</p>                                                                  
                                                                  {% endif %}
								
								  </td>
								  </tr>
								  </table>
								  </div>
								</div>

								<div class="clearfix"></div>
							</div>

						</div>
						<!-- // END col-app -->

					</div>
					<!-- // END col-app.col-unscrollable -->

				</div>
				<!-- // END col-table-row -->

			</div>
			<!-- // END col-table -->

		</div>
		<!-- // END col-separator.box -->


</div>
<!-- // END row-app -->



	<!-- Global -->
	<script data-id="App.Config">
	var App = {};	var basePath = '',
		commonPath = '{{ STATIC_URL }}',
		rootPath = '../',
		DEV = false,
		componentsPath = '{{ STATIC_URL }}components/';
	
	var primaryColor = '#3695d5',
		dangerColor = '#b55151',
		successColor = '#609450',
		infoColor = '#4a8bc2',
		warningColor = '#ab7a4b',
		inverseColor = '#45484d';
	
	var themerPrimaryColor = primaryColor;

		</script>

<script src="{{ STATIC_URL }}components/library/bootstrap/js/bootstrap.min.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/plugins/breakpoints/breakpoints.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/plugins/preload/pace/pace.min.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/plugins/preload/pace/preload.pace.init.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/core/js/animations.init.js?v=v1.0.2"></script>
<script src="{{ STATIC_URL }}components/core/js/core.init.js?v=v1.0.2"></script>
</body>
</html>
