{% load i18n %}{% load url from future %}
{% autoescape off %}
Usted recibio este correo por su solicitud de restablecimiento de clave del sitio {{ site_name }}.

Por favor siga el siguiente enlance para escoger una nueva clave:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uidb36=uid token=token %}
{% endblock %}
Su nombre de usuario en caso de haberlo olvidado: {{ user.username }}

Gracias por usar nuestra aplicacion. El equipo de {{ site_name }}.

{% endautoescape %}