<form id="filtro_campanias_sms_form" class="margin-none form-inline" method="POST" action="" onsubmit="filter_campanias_sms_form();return false;">
    <div class="filter-bar">
        {% csrf_token %}
         <!-- Calendar From -->
         <div class="form-group col-md-4">
            <label>Inicio:</label>
            <div class="input-group date" id="datepicker05">
               {{ form_sms.cam_fecha_inicio }}
               <span class="input-group-addon"><i class="fa fa-th"></i></span>
            </div>
         </div>
         <!-- // Calendar From END -->
         <!-- Calendar To -->
         <div class="form-group col-md-4">
            <label>Fin:</label>
            <div class="input-group date" id="datepicker06">
               {{ form_sms.cam_fecha_fin }}
               <span class="input-group-addon"><i class="fa fa-th"></i></span>
            </div>
         </div>
         <!-- // Select END -->
         <!-- Select -->
         <div class="form-group col-md-4">
            <label>Estado:</label>
            <div class="row">
               {{ form_sms.cam_estado }}
            </div>
         </div>
          <div class="form-group col-md-4">
             <button id="filter_campanias_sms_button" type="button" onclick="filter_campanias_sms_form();" class="btn btn-primary btn-sm">
               <span class="glyphicon glyphicon-search"></span>Buscar
             </button>
          </div>
        <div class="clearfix"></div>
    </div>
    
    <div class="separator bottom">Total Campanias: <span id="cantidad-campanias_sms">{{ cant_sms }}</span>
    <span class="pull-right"><label class="strong">Organizados por:</label> {{ form_sms.cam_filas_campanias }}</span>   
</form>
