{% load emisoreceptor %}
<table class="table table-condensed table-striped table-primary table-vertical-center checkboxs">
<thead>
   <tr>
      <th class="center">Nombre de la campaña</th>
      <th class="center">Fecha de creación</th>
      <th class="center">Fecha publicacion</th>
      <th class="center">Número de correos enviados</th>
      <th class="center">Número de correos abiertos</th>
      <th class="center">Número de clics</th>
      <th class="center">Estado</th>
      <th class="center">Editar</th>
   </tr>
</thead>
<tbody id="campanias_email_list">
   {% include "webparts/campanias/campanias_email_list_items.html" %}
</tbody>
</table>