{% load emisoreceptor %}
<table class="table table-condensed table-striped table-primary table-vertical-center checkboxs">
    <thead>
    <tr>
        <th class="center">Fecha</th>
        <th class="center">Tipo</th>
        <th class="center">Número</th>
        <th class="center">Emisor</th>
        <th class="center">Monto</th>
        <th class="center">Aprobado por</th>
        <th class="center">Fuente</th>
        <th class="center">Acciones</th>
        <th class="center">Autorización</th>
        <th class="center">Descargar</th>
    </tr>
    </thead>
    <tbody id="comprobantes-recibidos">
    {% include "webparts/recibidos_list_items.html" %}
    </tbody>
</table>