{% load emisoreceptor %}
{% for producto in productos_interes %}
<span style="display: inline-block;">
   <!-- Item -->
   <div class="bck_cupon">
      <div class="imagen"><img src="{{ producto.imagen.url }}"/></div>
      <div class="contenido_logos">
         <ul>
            {% if producto.logotipo.url %}
            <li class="logos"><img height="50" width="50" src="{{ producto.logotipo.url }}"/></li>
            {% endif %}
            <li class="texto-logo">{{ producto.titulo }}</li>
         </ul>
      </div>
      <div class="ver_mas"><a href="/productos-interes/producto-detalle/{{ producto.codigo }}/" data-toggle="modal">Ver más>></a>
      </div>
      <div class="redes_sociales">
         <ul>
            <li class="compartir">Compartir:</li>
            <li class="iconos_pequenios">
               <a target="_blank"
                  href="http://www.facebook.com/sharer.php?u=http://{{DOMAIN_INNOBEE}}/productos-interes/producto-detalle/{{ producto.codigo }}&t={{ producto.titulo }}">
               <img src="{{ STATIC_URL }}images/coupons/img_noticias_facebook.png"/></a>
            </li>
            <li class="iconos_pequenios">
               <a target="_blank"
                  href="javascript:var dir='{{ producto.titulo}}';var tit='{{ producto.detalles_producto }}';var tit2='{{DOMAIN_INNOBEE}}/productos-interes/producto-detalle/{{ producto.codigo }}';window.location.href=('http://twitter.com/?status='+dir+'%20 -- '+tit+'%20 '+tit2+'');">
               <img src="{{ STATIC_URL }}images/coupons/img_noticias_twitter.png"/></a>
            </li>
         </ul>
      </div>
   </div>
   <!-- Item End -->
   <!-- Modal -->
   <!-- Total bookings & sort by options -->
   <div class="clearfix"><br/></div>
   <div class="clearfix"><br/></div>
   <div class="clearfix"></div>
   <!-- // Total bookings & sort by options END -->
</span>
{% endfor %}