{% extends 'emisores/baseEmisor.html' %}
{% block titulo_page %}{% if not form.instance or not form.instance.pk %}Nuevo Comprobante{% else %}Editar Comprobante{% endif %}{% endblock %}
{% load selectable_tags %}
{% load static from staticfiles %}
{% block top_javascripts %}
    <script src="{{ STATIC_URL }}components/common/forms/elements/bootstrap-datepicker/js/bootstrap-datepicker.js"
            xmlns="http://www.w3.org/1999/html"></script>
    <script src="{{ STATIC_URL }}components/core/modules/formsets.js"></script>
    
    <link rel="stylesheet/less"
          href="{{ STATIC_URL }}components/common/forms/elements/bootstrap-datepicker/less/datepicker.less"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/admin/datepicker/datepicker.css"/>
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/admin/forms.css" />
    
{% endblock %}
{% block body %}
<div id="nuevo_comprobante">
    <h4 class="margin-none pull-left pestana">Nueva Nota de Crédito</h4>
    <div class="clearfix"></div>
    <div class="filter-bar">
        <ul id="crear_notacredito_error_list" class="custom_error_list"></ul>
        <div class="col-md-6">
            <div class="widget widget-body-white panel panel-success" style="height: auto;">
                <div class="widget-head">
                    <h3>{{empresa.nombre_comercial}}</h3>
                </div>
                <div class="widget-body">
                    {% if empresa.logotipo.url %}
                    <div style="text-align: center"><img height="auto" width="50%" src="{{ empresa.logotipo.url }}"/></div>
                    {% endif %}
                    <br>
                    <table width="100%" cellpadding="2" cellspacing="2">
                        <tr>
                            <th>Razón Social:</th><td>{{empresa.razon_social}}</td>
                        </tr>
                        <tr>
                            <th>RUC:</th><td>{{empresa.ruc}}</td>
                        </tr>
                        <tr>
                            <th>Dirección Matriz:</th><td>{{empresa.direccion_matriz}}</td>
                        </tr>
                        <tr>
                            <th>Teléfono:</th><td>{{empresa.telefono_principal}}</td>
                        </tr>
                        <tr>
                            <th>Obligado a llevar contabilidad:</th><td>{{empresa.obligado_contabilidad}}</td>
                        </tr>
                        {% if empresa.codigo_contribuyente_especial %}
                        <tr>
                            <th>Contribuyente especial:</th><td>{{empresa.codigo_contribuyente_especial}}</td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="widget widget-body-white" style="height: auto;">
                <div class="widget-head">
                    <h4>Datos Nota de Crédito</h4>
                </div>
                <div class="widget-body">
                    {% include "emisores/imprenta_digital/configuracion.html" %}
                </div>
            </div>
            <div class="widget widget-body-white" style="height: auto;">
                <div class="widget-head">
                    <h4>Cliente</h4>
                </div>
                <div class="widget-body">
                    {% include "emisores/imprenta_digital/cliente.html" %}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <form id="form_notacredito" action="." method="post"> {% csrf_token %}
        <div class="filter-bar">
            <div class="widget widget-body-white" style="height: auto;">
                <div class="widget-head">
                    <h4>Detalles de Nota de Crédito</h4>
                </div>
                <div class="widget-body">
                        {{ form.as_p }}
                </div>
            </div>
        </div>
        <div class="filter-bar">
            <div class="widget widget-body-white" style="height: auto;">
                <div class="widget-head">
                    <h4>Items de Nota de Crédito</h4>
                </div>
                <div class="widget-body">
                    <fieldset>
                        {{ item_notacredito_form.management_form }}

                        <table class="form-custom">
                        {% for form in item_notacredito_form.forms %}
                          {% if forloop.first %}
                          <thead><tr>
                            {% for field in form.visible_fields %}
                            {% if not forloop.last %}
                                <th class="{% cycle col1,col2 %}">{{ field.label|capfirst }}</th>
                            {% endif %}
                            {% endfor %}                            
                            <th class="col1">Eliminar</th>
                          </tr></thead>
                          {% endif %}
                          <tr class="{% cycle row1,row2 %} item">
                          {% for field in form.visible_fields %}
                            {% if not forloop.last %}
                            <td class="{% cycle col1,col2 %}">
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                              {% for hidden in form.hidden_fields %}
                              {{ hidden }}
                              {% endfor %}
                            {% endif %}
                              {{ field.errors.as_ul }}
                              {{ field }}
                            </td>
                            {% endif %}
                          {% endfor %}
                          <td>
                            {% if forloop.last %}
                                <a class="delete btn btn-danger last_delete_item_nota_credito" onclick="return pregunta_nota_credito(this, '{{ item_notacredito_form.prefix }}', 'item','item_nota_credito','{{form.instance.id}}');" href="javascript:void(0)">X</a></td>
                              {% else %}
                                <a class="delete btn btn-danger last_delete_item_nota_credito" onclick="return pregunta_nota_credito(this, '{{ item_notacredito_form.prefix }}', 'item','item_nota_credito','{{form.instance.id}}');" href="javascript:void(0)">X</a></td>
                            {% endif %}
                          </tr>
                        {% endfor %}
                            <tr>
                                <td colspan="5"></td>
                                <td><input type="button" id="add_more" class="btn btn-primary" value="Agregar"/></td>
                            </tr>
                        </table>
                        
                    </fieldset>
                </div>
            </div>
        </div>
        
        <div class="filter-bar">
            <div class="col-md-8">
                {% include "emisores/imprenta_digital/info-adicional.html" %}
                <a id="buton-crear-prod" href="#modal-crear-producto" data-toggle="modal"></a>
            </div>
            <div class="col-md-4">
                <div class="widget widget-body-white" style="height: auto;">
                    <div class="widget-head">
                        <h4><i class="heading fa fa-arrow-circle-right"></i> Totales</h4>
                    </div>
                    {% include "emisores/imprenta_digital/notacredito/totales-notacredito.html" %}
                    <div class="modal-footer">
                        <a href="/imprenta-digital/notascredito/" class="btn btn-danger">Cancelar</a>
                        <a href="javascript:void(0)" onclick="printIt()" class="submit btn btn-primary">Imprimir</a>
                        {% if not form.instance.pk %}
                        <a href="javascript:void(0)" onclick="save_nota_credito()" class="submit btn btn-success">Guardar</a>
                        {% else %}
                        <a href="javascript:void(0)" onclick="update_nota_credito()" class="submit btn btn-success">Actualizar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <input id="ruc_empresa" name="ruc_empresa" type="hidden" value="{{empresa.ruc}}">
    </form>
</div>

{% include "emisores/imprenta_digital/producto-modal.html" %}

{% endblock %}
{% block bottom_javascripts %}
   <!-- Global -->
    <script data-id="App.Config">
        var App = {};
        var basePath = '',
                commonPath = '{{ STATIC_URL }}',
                rootPath = '../',
                DEV = false,
                componentsPath = '{{ STATIC_URL }}components/';
           var primaryColor = '#3695d5',
                dangerColor = '#b55151',
                successColor = '#609450',
                infoColor = '#4a8bc2',
                warningColor = '#ab7a4b',
                inverseColor = '#45484d';

        var themerPrimaryColor = primaryColor;

    </script>

    <script src="{{ STATIC_URL }}components/library/bootstrap/js/bootstrap.min.js?v=v1.0.2&sv=v0.0.1"></script>
    
    
    <script src="{{ STATIC_URL }}components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.0.2&sv=v0.0.1"></script>
    <script src="{{ STATIC_URL }}components/plugins/breakpoints/breakpoints.js?v=v1.0.2&sv=v0.0.1"></script>
    <script src="{{ STATIC_URL }}components/plugins/preload/pace/pace.min.js?v=v1.0.2&sv=v0.0.1"></script>
    <script src="{{ STATIC_URL }}components/plugins/preload/pace/preload.pace.init.js?v=v1.0.2&sv=v0.0.1"></script>
    <script src="{{ STATIC_URL }}components/core/js/animations.init.js?v=v1.0.2"></script>

    <script src="{{ STATIC_URL }}components/core/js/sidebar.main.init.js?v=v1.0.2"></script>
    <script src="{{ STATIC_URL }}components/core/js/sidebar.discover.init.js?v=v1.0.2"></script>
    <script src="{{ STATIC_URL }}components/core/js/core.init.js?v=v1.0.2"></script>

    <script src="{{ STATIC_URL }}components/modules/admin/modals/assets/js/bootbox.min.js?v=v1.0.2&sv=v0.0.1"></script>
    <script src="{{ STATIC_URL }}components/modules/admin/modals/assets/js/modals.init.js?v=v1.0.2&sv=v0.0.1"></script>
    
    <script src="{{ STATIC_URL }}components/core/modules/commons.js"></script>
    <script src="{{ STATIC_URL }}components/core/modules/imprentadigital.js"></script>
    
{% endblock %}

{% block dajaxice_block %}
<link rel="stylesheet" href="{{ STATIC_URL }}selectable/css/dj.selectable.css"/>
    
<script src="{{ STATIC_URL }}dajaxicecore/dajaxice.core.js"></script>
<script src="{{ STATIC_URL }}dajax/jquery.dajax.core.js" type="text/javascript"></script>

<!--{% include_jquery_libs '1.4.4' '1.8.13' %}-->
<script src="{{ STATIC_URL }}selectable/js/jquery/jquery.min.js"></script>
<script src="{{ STATIC_URL }}selectable/js/jquery/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}selectable/js/jquery.dj.selectable.js"></script>

<script>
    
    function after_selectable_do(item, input) {
        select_producto(item.id, input);
    };
    
    function recalc(input_id) {
        recalc_nota_credito();
    };
    
    function after_remove_form(prefix) {
        recalc_nota_credito();
    };
    
    $('#add_more').click(function() {
        cloneMore('tr.item:last', '{{ item_notacredito_form.prefix }}', true);
        setTimeout(function(){
            deleteLastForm('tr.item:last', '{{ item_notacredito_form.prefix }}', 'item', false);
            setTimeout(function(){
            cloneMore('tr.item:last', '{{ item_notacredito_form.prefix }}', true);
            },5);
        },5);        
        
    });
    
     $('#add_more_info_adi').click(function() {
        cloneMore('tr.item-info-adi:last', '{{ info_adicional_form.prefix }}');
     });
           
    $('#add_more_detalles_producto').click(function() {
        cloneMore('tr.item_det_prod:last', 'impdproductodetalleadicional_set');
    });
    
    $('#add_more_impuestos_producto').click(function() {
        cloneMore('tr.item_imp_prod:last', 'impdproductoimpuesto_set');
    });
    
   /* $(document).ready(function () {
        $('.datepicker').datepicker({
            format: "yyyy-mm-dd"
        });
        
        var id_entity = {form.instance.pk};
        if(id_entity && id_entity!='None') {
            setTimeout(function() {$('#last_delete_item').trigger("click");console.log('CLICK');}, 300);
        }
    });*/
    function pregunta_nota_credito(this_for,info_adicional_form_prefix, item ,item_info,form_instance_id){
     if (form_instance_id=="None") {
        deleteForm(this_for,info_adicional_form_prefix ,item);
     }else{
     if(confirm('¿Estas seguro de Eliminar?')){
       
       deleteForm(this_for,info_adicional_form_prefix ,item);
       
        delete_entity(item_info,form_instance_id);
       
       
       
      }}
    }
    

</script>
{% if form.instance %}
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: "dd/mm/yy"
         });
        recalc_nota_credito();
        
        
    });
</script>
{% endif %}

{% endblock%}