<div class="widget-body"  style="text-align: right">
    {% for field in form.visible_fields %}
        {% if field.name == 'propina' %}
        <p>
            {{field.label}}
            {{ field.errors.as_ul }}
            {{ field }}
        </p>
        {% endif %}
    {% endfor %}
    <div id="widget-totales-factura">
        <p><b>Subtotal:</b>&nbsp;${{total_sin_impuestos|floatformat:-2}}</p>
        <p><b>Impuestos:</b>&nbsp;${{total_impuestos|floatformat:-2}}</p>
        <p><b>Descuentos:</b>&nbsp;${{total_descuentos|floatformat:-2}}</p>
        <h3><b>TOTAL:</b>&nbsp;${{ total_con_impuestos|floatformat:-2}}</h3>
    </div>
</div>