<!DOCTYPE html>
<!--[if lt IE 7]> 
<html class="ie lt-ie9 lt-ie8 lt-ie7 ">
<![endif]-->
<!--[if IE 7]>    
<html class="ie lt-ie9 lt-ie8 ">
<![endif]-->
<!--[if IE 8]>    
<html class="ie lt-ie9 ">
<![endif]-->
<!--[if gt IE 8]> 
<html class="ie ">
<![endif]-->
<!--[if !IE]><!-->
<html class="">
<!-- <![endif]-->
<head>
   <title>Innobee</title>
   <!-- Meta -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
   <!--
      **********************************************************
      In development, use the LESS files and the less.js compiler
      instead of the minified CSS loaded by default.
      **********************************************************
      <link rel="stylesheet/less" href="{{ STATIC_URL }}less/admin/module.admin.stylesheet-complete.less" />
      -->
   <!--[if lt IE 9]>
   <link rel="stylesheet" href="{{ STATIC_URL }}components/library/bootstrap/css/bootstrap.min.css" />
   <![endif]-->
   <link rel="stylesheet" href="{{ STATIC_URL }}css/admin/module.admin.stylesheet-complete.min.css" />
   <link rel="stylesheet" href="{{ STATIC_URL }}css/admin/innobee.css" />
   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
   <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
   <![endif]-->
   <script src="{{ STATIC_URL }}components/library/jquery/jquery.min.js?v=v1.0.2&sv=v0.0.1"></script>
   <script src="{{ STATIC_URL }}components/library/jquery/jquery-migrate.min.js?v=v1.0.2&sv=v0.0.1"></script>
   <script src="{{ STATIC_URL }}components/library/modernizr/modernizr.js?v=v1.0.2&sv=v0.0.1"></script>
   <script src="{{ STATIC_URL }}components/plugins/less-js/less.min.js?v=v1.0.2&sv=v0.0.1"></script>
   <script>if (/*@cc_on!@*/false && document.documentMode === 10) { document.documentElement.className+=' ie ie10'; }</script>
   <script src="{{ STATIC_URL }}util/util.js"></script>
</head>
<body class=" loginWrapper">
   <!-- Main Container Fluid -->
   <div class="container-fluid menu-hidden">
   <!-- Content content -->
   <div id="innobee">
   <!-- // END navbar -->
   <!-- row-app -->
   <div class="row row-app">
      <!-- col -->
      <!-- col-separator.box -->
      <div class="col-separator col-unscrollable box">
	 <!-- col-table -->
	 <div class="col-table">
	    <!-- col-table-row -->
	    <div class="col-table-row">
	       <!-- col-app -->
	       <div class="col-app col-unscrollable">
		  <!-- col-app -->
		  <div class="col-app">
			<div class="login">				
				<div class="placeholder text-center"><img src="{{ STATIC_URL }}images/inobee-login.png" width="200" height="auto"  alt="" /></div>
				<div class="clearfix"></div>
				<div class="col-md-12">
					<div class="col-sm-2 col-sm-offset-2 text-center">
						<ul class="list-inline center-block">
						  <li><a href="https://www.facebook.com/TodosobreFacturacionElectronica" title="Facebook" target="blank"><img src="{{ STATIC_URL }}images/logo_fb.png" width="40" height="auto"></a></li>
						  <li><a href="https://twitter.com/innovacionesec" target="blank" title="Twitter"><img src="{{ STATIC_URL }}images/logo_tw.png" width="40" height="auto"></a></li>
						  <li><a href="https://www.youtube.com/channel/UCbvVYwCLkgBW39QyCs4KxqQ" title="Youtube" target="blank"><img src="{{ STATIC_URL }}images/logo_yt.png" width="40" height="auto"></a></li>
						</ul>
					</div>
					<div class="col-sm-4 text-center">&nbsp;</div>
					<div class="col-sm-2 text-center">
						<ul class="list-inline center-block">
						  <li><a href="http://todosobrefacturacionelectronica.com/" target="blank" title="Gu&iacute;as y Manuales"><img src="{{ STATIC_URL }}images/home.png" width="40" height="auto"></a></li>
						  <li><a href="http://todosobrefacturacionelectronica.com/contactenos/" target="blank" title="Cont&aacute;ctenos"><img src="{{ STATIC_URL }}images/contact_icon.png" width="40" height="auto"></a></li>
						  <li><a href="http://todosobrefacturacionelectronica.com/soporte-innobee/faqs/" target="blank" title="FAQs"><img src="{{ STATIC_URL }}images/faq.png" width="40" height="auto"></a></li>
						</ul>
						<br>
						
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-12">
					<div style="width: 50%; margin:auto; height:auto; background: #FFF;">
					{% if messages %}
					    <ul class="alert alert-success">
					    {% for message in messages %}
					       <li>
						{{ message }}
					       </li>
					     {% endfor %}
					     </ul>
					{% endif %}
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-12">
					<div class="col-md-2">
						<div class="clearfix"></div> 
					</div>
					<div class="col-md-4">
						<div class="widget widget-body-white" style="height: auto;">
							<div class="widget-head visible-print-block">
								<h4>
									<i class="heading fa fa-user"></i>Ingreso de receptores 
								</h4>
							</div>
							<div class="widget-body" style="background-color: #fefbe4 !important;">
								<div class="pull-right">
									<a class="tooltips" href="#"><i class="fa fa-question-circle"></i><span>El ingreso de receptores esta diseñado para que personas/empresas accedan a la plataforma con el fin de revisar los documentos electrónicos que se encuentran en su bandeja y llevar un orden de estos.</span></a>
								</div>
								<div class="clearfix"></div>
								<form name="frmReceptor" id="frmReceptor" role="form" action="." method="POST" onsubmit="return resCatcha('txtResultado', 'txtfrom1')">
									{% csrf_token %}
									<table width="100%" cellpadding="2" cellspacing="2">
										<tr>
											<td width="40%"><label class="form-login" for="email">Nombre de usuario</label></td>
											<td width="60%"><input type="email" class="form-control form-login" required id="username" name="username" placeholder="Ingrese su email"></td>
										</tr>
										<tr>
											<td colspan="2">&nbsp;</td>
										</tr>
										<tr>
											<td width="40%"><label class="form-login" for="password">Clave</label></td>
											<td width="60%">
												<input type="password" class="form-control form-login" required id="password" name="password" placeholder="Ingrese su clave">
												<input type="hidden" id="es_emisor" name="es_emisor" value="False">
											</td>
										</tr>
										<tr>
											<td colspan="2"><img src="{{ STATIC_URL }}images/blank.png" height="24px"/></td>
										</tr>
										<tr>
											<td width="40%">&nbsp;</td>
											<td width="60%"><a href="#modal-receptores" data-toggle="modal"><button type="submit" onclick="cargarNum('btn1', 'btn2','txtResultado', 'txtfrom1')" class="btn btn-primary btn-block">Acceder</button></a></td>
										</tr>
										<tr>
											<td colspan="2"><a href="/acceso-reseteo/" style="color:#CC0000">Olvide mi clave de acceso</a></td>
										</tr>									   
									</table>
								       <!-- Modal -->
								       {% include "webparts/login/modal_suma_receptores.html" %}  
									<!-- // Modal END -->
							       </form>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="widget widget-body-white" style="height: auto;">
							<div class="widget-head visible-print-block">
								<h4>
									<i class="heading fa fa-building-o"></i>Ingreso de emisores 
								</h4>
							</div>
							<div class="widget-body" style="background-color: #eef4d8 !important;">
								<div class="pull-left">
									<a class="tooltips" href="#"><i class="fa fa-question-circle"></i><span>El ingreso de emisores es la opción indicada para que personas/empresas registradas en nuestra plataforma accedan y lleven un control de los documentos electrónicos que se han enviado a sus clientes/proveedores.</span></a>
								</div>
								<div class="clearfix"></div>
								<form role="form" action="." method="post" onsubmit="return resCatcha('txtResultado2', 'txtfrom2')">
									{% csrf_token %}
										<table width="100%" cellpadding="2" cellspacing="2">
											<tr>  
												<td width="40%">
													<label class="form-login" for="username">Nombre de usuario</label>
												</td>
												<td width="60%">
													<input type="email" class="form-control form-login" required id="username" name="username" placeholder="Ingrese su email">
												</td>
											<tr>
											<tr>
												<td colspan="2">&nbsp;</td>
											</tr>
											<tr>
												<td width="40%">
													<label class="form-login" for="ruc">RUC</label>
												</td>
												<td width="60%">
													<label class="form-login" for="password">Clave</label>
												</td>
											</tr>
											<tr>
												<td width="40%">
													<input type="text" maxlength="13"
													   class="form-control form-login" required id="ruc"
													   name="ruc" placeholder="Ingrese su RUC">
												</td>
												<td width="60%">
													<input type="password" class="form-control form-login"
														required id="password" name="password"
														placeholder="Ingrese su clave">
												</td>
											</tr>
											<tr>
												<td width="40%">&nbsp;</td>
												<td width="60%">
													<input type="hidden" id="es_emisor" name="es_emisor" value="True">
													<a href="#modal-emisores" data-toggle="modal">
													<button type="submit"
													   onclick="cargarNum('btn3', 'btn4','txtResultado2', 'txtfrom2')"
													   class="btn btn-primary btn-block">Acceder
													</button>
													</a>
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<a href="/acceso-reseteo/" style="color:#CC0000">Olvide mi clave de acceso</a>					
												</td>
											</tr>
	
										</table>
									</div>
									
									<!-- Modal -->
									{% include "webparts/login/modal_suma_emisores.html" %}
									<!-- // Modal END -->
							       </form>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="clearfix"></div> 
					</div>
				</div>				
			</div>
			<div class="clearfix"></div>
		     </div>
		  </div>
		  <!-- // END col-app -->
	       </div>
	       <!-- // END col-app.col-unscrollable -->
	    </div>
	    <!-- // END col-table-row -->
	    <div class="col-table-row">
	       <div class="col-app" style="text-align: center">
		  <a href="/crear-buzon/" class="btn btn-primary">Registrarme al Buzón Único</a>
	       </div>
	    </div>
	 </div>
	 <!-- // END col-table -->
      </div>
      <!-- // END col-separator.box -->
   </div>
   <!-- // END row-app -->
   <!-- Global -->
   <script data-id="App.Config">
      var App = {};	var basePath = '',
	 commonPath = '{{ STATIC_URL }}',
	 rootPath = '../',
	 DEV = false,
	 componentsPath = '{{ STATIC_URL }}components/';
      
      var primaryColor = '#3695d5',
	 dangerColor = '#b55151',
	 successColor = '#609450',
	 infoColor = '#4a8bc2',
	 warningColor = '#ab7a4b',
	 inverseColor = '#45484d';
      
      var themerPrimaryColor = primaryColor;
      
	 
   </script>
   <script src="{{ STATIC_URL }}components/library/bootstrap/js/bootstrap.min.js?v=v1.0.2&sv=v0.0.1"></script>
   <script src="{{ STATIC_URL }}components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.0.2&sv=v0.0.1"></script>
   <script src="{{ STATIC_URL }}components/plugins/breakpoints/breakpoints.js?v=v1.0.2&sv=v0.0.1"></script>
   <script src="{{ STATIC_URL }}components/plugins/preload/pace/pace.min.js?v=v1.0.2&sv=v0.0.1"></script>
   <script src="{{ STATIC_URL }}components/plugins/preload/pace/preload.pace.init.js?v=v1.0.2&sv=v0.0.1"></script>
   <script src="{{ STATIC_URL }}components/core/js/animations.init.js?v=v1.0.2"></script>
   <script src="{{ STATIC_URL }}components/core/js/core.init.js?v=v1.0.2"></script>
</body>
</html>

