{% extends 'receptores/baseReceptor.html' %}
{% block titulo_page %}Comprobantes{% endblock%}
{% block body %}

<!-- First grid -->
<h3 class="margin-none pull-left pestana">Comprobantes cargados</h3>
<div class="clearfix"></div>	
<div class="tablaBCK">

	<div class="clearfix"></div>
	<div class="separator-h"></div>

	<!-- Filters -->
	<div class="filter-bar">
		<form class="margin-none form-inline">
			
			<!-- Calendar From -->
			<div class="form-group col-md-4">
				<label>Emisión:</label>
				<div class="input-group date" id="datepicker01">
				    <input class="form-control" type="text" value="Seleccione" />
				    <span class="input-group-addon"><i class="fa fa-th"></i></span>
				</div>
			</div>
			<!-- // Calendar From END -->
			
			<!-- Select -->
				<div class="form-group col-md-4">
					<label>Tipo:</label>
					<div class="row">
						<select class="selectpicker col-md-6">
							<option>Escoja:</option>
							<option>Opción 01</option>
						</select> 
					</div>
				</div>
			<!-- // Select END -->
            
            <!-- Input -->
            <div class="form-group col-md-4">
            	<label>Número:</label>
            	<div class="input-group">
            		<input type="text" name="from" class="form-control" value="123456789" />
            	</div>
            </div>
            <!-- // Input END -->
            
             <!-- Input -->
             <div class="form-group col-md-4">
             	<label>Emisor:</label>
             	<div class="input-group">
             		<input type="text" name="from" class="form-control" value="123456789" />
             	</div>
             </div>
             <!-- // Input END -->
			
			<!-- Input -->
			<div class="form-group col-md-4">
				<label>Aprobado por:</label>
				<div class="input-group">
					<input type="text" name="from" class="form-control" value="123456789" />
				</div>
			</div>
			<!-- // Input END -->
			
			<!-- Select -->
				<div class="form-group col-md-4">
					<label>Estado:</label>
					<div class="row">
						<select class="selectpicker col-md-6">
							<option>Escoja:</option>
							<option>Opción 01</option>
						</select> 
					</div>
				</div>
			<!-- // Select END -->
			
			<!-- Select -->
				<div class="form-group col-md-4">
					<label>Fuente:</label>
					<div class="row">
						<select class="selectpicker col-md-6">
							<option>Escoja:</option>
							<option>Opción 01</option>
						</select> 
					</div>
				</div>
			<!-- // Select END -->
			
			<div class="clearfix"></div>
		</form>
	</div>
	
	<!-- // Filters END -->
	
	<!-- Widget -->
	<div class="widget widget-body-white">
		
			<!-- Widget heading -->
			<div class="widget-head">
				<h4><i class="heading fa fa-arrow-circle-right"></i> Resultado: Cantidad de comprobantes = 85 (FE:70, RE:15, ND:0, GR:0) Total Facturas: $98.550,00 </h4>
			</div>
			<!-- // Widget heading END -->
			
			<div class="widget-body">
			
				<!-- Total bookings & sort by options -->
				<div class="separator bottom">
					Total resultados: 26
					<span class="pull-right">
						<label class="strong">Organizados por:</label>
						<select class="selectpicker margin-none" data-style="btn-default btn-xs">
							<option>5</option>
							<option>50</option>
							<option>100</option>
						</select>
					</span>
					<div class="clearfix"></div>
				</div>
				<!-- // Total bookings & sort by options END -->
				
				<!-- Table -->
				<table class="table table-condensed table-striped table-primary table-vertical-center checkboxs">
					<thead>
						<tr>
							<th class="center">Fecha</th>
							<th class="center">Tipo</th>
							<th class="center">Número</th>
							<th class="center">Emisor</th>
							<th class="center">Ciudad</th>
							<th class="center">Monto</th>
							<th class="center">Aprobado por</th>
							<th class="center">Estado</th>
							<th class="center">Fuente</th>
							<th class="center">Ver</th>
							<th class="center">Editar</th>
                            <th class="center">Comentar</th>
                            <th class="center">Ver comentario</th>
						</tr>
					</thead>
					<tbody>
																
						<!-- Item -->
						<tr class="selectable">
							<td class="center lightblue">20/01</td>
							<td class="center">FE</td>
							<td class="center lightblue">123456789</td>
							<td class="center">Panadería Ambato</td>
							<td class="lightblue"><strong>Quito</strong></td>
							<td class="center">$500,oo USD</td>
							<td class="center lightblue">Edgar Flores</td>
							<td class="center">Aprobado</td>
							<td class="center lightblue">Innobee</td>
							<td class="center">
                            	<div class="btn-group btn-group-sm">
									<a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a>
								</div>
                            </td>
							<td class="center lightblue">
                            	<div class="btn-group btn-group-sm">
									<a href="#" class="btn btn-default"><i class="fa fa-pencil"></i></a>
								</div>
                            </td>
							<td class="center">
								<div class="btn-group btn-group-sm">
									<a href="#" class="btn btn-default"><i class="fa fa-pencil"></i></a>
								</div>
							</td>
                            <td class="center">
                            	<div class="btn-group btn-group-sm">
									<a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a>
								</div>
                            </td>
						</tr>
						<!-- // Item END -->
						
                        <!-- Item -->
                        <tr class="selectable">
                        	<td class="center lightblue">20/01</td>
                        	<td class="center">FE</td>
                        	<td class="center lightblue">123456789</td>
                        	<td class="center">Panadería Ambato</td>
                        	<td class="lightblue"><strong>Quito</strong></td>
                        	<td class="center">$500,oo USD</td>
                        	<td class="center lightblue">Edgar Flores</td>
                        	<td class="center">Aprobado</td>
                        	<td class="center lightblue">Innobee</td>
                        	<td class="center">
                            	<div class="btn-group btn-group-sm">
                        			<a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a>
                        		</div>
                            </td>
                        	<td class="center lightblue">
                            	<div class="btn-group btn-group-sm">
                        			<a href="#" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                        		</div>
                            </td>
                        	<td class="center">
                        		<div class="btn-group btn-group-sm">
                        			<a href="#" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                        		</div>
                        	</td>
                            <td class="center">
                            	<div class="btn-group btn-group-sm">
                        			<a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a>
                        		</div>
                            </td>
                        </tr>
                        <!-- // Item END -->
                        
                        <!-- Item -->
                        <tr class="selectable">
                        	<td class="center lightblue">20/01</td>
                        	<td class="center">FE</td>
                        	<td class="center lightblue">123456789</td>
                        	<td class="center">Panadería Ambato</td>
                        	<td class="lightblue"><strong>Quito</strong></td>
                        	<td class="center">$500,oo USD</td>
                        	<td class="center lightblue">Edgar Flores</td>
                        	<td class="center">Aprobado</td>
                        	<td class="center lightblue">Innobee</td>
                        	<td class="center">
                            	<div class="btn-group btn-group-sm">
                        			<a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a>
                        		</div>
                            </td>
                        	<td class="center lightblue">
                            	<div class="btn-group btn-group-sm">
                        			<a href="#" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                        		</div>
                            </td>
                        	<td class="center">
                        		<div class="btn-group btn-group-sm">
                        			<a href="#" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                        		</div>
                        	</td>
                            <td class="center">
                            	<div class="btn-group btn-group-sm">
                        			<a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a>
                        		</div>
                            </td>
                        </tr>
                        <!-- // Item END -->
                        
                        <!-- Item -->
                        <tr class="selectable">
                        	<td class="center lightblue">20/01</td>
                        	<td class="center">FE</td>
                        	<td class="center lightblue">123456789</td>
                        	<td class="center">Panadería Ambato</td>
                        	<td class="lightblue"><strong>Quito</strong></td>
                        	<td class="center">$500,oo USD</td>
                        	<td class="center lightblue">Edgar Flores</td>
                        	<td class="center">Aprobado</td>
                        	<td class="center lightblue">Innobee</td>
                        	<td class="center">
                            	<div class="btn-group btn-group-sm">
                        			<a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a>
                        		</div>
                            </td>
                        	<td class="center lightblue">
                            	<div class="btn-group btn-group-sm">
                        			<a href="#" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                        		</div>
                            </td>
                        	<td class="center">
                        		<div class="btn-group btn-group-sm">
                        			<a href="#" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                        		</div>
                        	</td>
                            <td class="center">
                            	<div class="btn-group btn-group-sm">
                        			<a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a>
                        		</div>
                            </td>
                        </tr>
                        <!-- // Item END -->                        
						
					</tbody>
				</table>
				<!-- // Table END -->
				
				<!-- With selected actions -->
				<div class="pull-left">
					<label class="strong">FE: Factura Electrónica | RE: Retención | ND: Nota Debito | NC: Nota Crédito | GR: Guía Remisión</label>
				</div>
				<!-- // With selected actions END -->
				
				<!-- Pagination -->
				<ul class="pagination pull-right margin-none">
					<li class="disabled"><a href="#">&laquo;</a></li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">&raquo;</a></li>
				</ul>
				<div class="clearfix"></div>
				<!-- With selected actions -->
				<div class="pull-left">
					<a href="cargar-comprobantes.html"><button class="btn btn-success"><i class="fa fa-upload"></i> Cargar nuevo documento</button></a>
				</div>
				<!-- // With selected actions END -->
				<div class="clearfix"></div>
				<!-- // Pagination END -->
			</div>
		</div>
	<!-- // Widget -->
	

	
</div>
<!-- First grid -->

<!-- // Main Container Fluid END -->
{% endblock %}
{% block bottom_javascripts %}	

	<!-- Global -->
	<script data-id="App.Config">
	var App = {};	var basePath = '',
		commonPath = '{{ STATIC_URL }}',
		rootPath = '../',
		DEV = false,
		componentsPath = '{{ STATIC_URL }}components/';
	
	var primaryColor = '#3695d5',
		dangerColor = '#b55151',
		successColor = '#609450',
		infoColor = '#4a8bc2',
		warningColor = '#ab7a4b',
		inverseColor = '#45484d';
	
	var themerPrimaryColor = primaryColor;

		</script>
	
	<script src="{{ STATIC_URL }}components/library/bootstrap/js/bootstrap.min.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/plugins/breakpoints/breakpoints.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/plugins/preload/pace/pace.min.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/plugins/preload/pace/preload.pace.init.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/core/js/animations.init.js?v=v1.0.2"></script>

<script src="{{ STATIC_URL }}components/core/js/sidebar.main.init.js?v=v1.0.2"></script>
<script src="{{ STATIC_URL }}components/core/js/sidebar.discover.init.js?v=v1.0.2"></script>
<script src="{{ STATIC_URL }}components/core/js/core.init.js?v=v1.0.2"></script>	

<script src="{{ STATIC_URL }}components/common/forms/elements/bootstrap-datepicker/assets/lib/js/bootstrap-datepicker.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/common/forms/elements/bootstrap-datepicker/assets/custom/js/bootstrap-datepicker.init.js?v=v1.0.2&sv=v0.0.1"></script>

<script src="{{ STATIC_URL }}components/common/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/common/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.0.2&sv=v0.0.1"></script>

<script src="{{ STATIC_URL }}components/common/forms/validator/assets/lib/jquery-validation/dist/jquery.validate.min.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/common/forms/validator/assets/custom/form-validator.init.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/common/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.0.2&sv=v0.0.1"></script>

<script src="{{ STATIC_URL }}components/modules/admin/modals/assets/js/bootbox.min.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/modules/admin/modals/assets/js/modals.init.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/modules/admin/notifications/gritter/assets/lib/js/jquery.gritter.min.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/modules/admin/notifications/gritter/assets/custom/js/gritter.init.js?v=v1.0.2&sv=v0.0.1"></script>
{% endblock %}
