{% extends 'receptores/baseReceptor.html' %}
{% block titulo_page %}Perfil{% endblock%}
{% block body %}

<!-- First grid -->
<h4 class="margin-none pull-left pestana">Editar el perfil</h4>
<div class="clearfix"></div>	
<div class="tablaBCK">

	<div class="clearfix"></div>
	<div class="separator-h"></div>
	<h4>Datos generales del usuario</h4>
	<div class="separator-h"></div>
	<!-- Filters -->
	<div class="filter-bar">
		<form class="margin-none form-inline">
		
		
		
		<!-- Min -->
		<div class="form-group col-md-4">
			<label>Nombres completos</label>
			<div class="input-group">
				<input type="text" name="from" class="form-control" value="Juan Pablo" />
			</div>
		</div>
		<!-- // Min END -->
		
		<!-- Min -->
		<div class="form-group col-md-4">
			<label>Apellidos completos</label>
			<div class="input-group">
				<input type="text" name="from" class="form-control" value="Perez Ramirez" />
			</div>
		</div>
		<!-- // Min END -->
		
		<!-- Min -->
		<div class="form-group col-md-4">
			<label>Cédula de identidad:</label>
			<div class="input-group">
				<input type="text" name="from" class="form-control" value="1733654570" />
			</div>
		</div>
		<!-- // Min END -->
		
		<br><br>
		
		<!-- Min -->
		<div class="form-group col-md-4">
			<label>Correo Electrónico:</label>
			<div class="input-group">
				<input type="text" name="from" class="form-control" value="@" />
			</div>
		</div>
		<!-- // Min END -->
		
		<!-- Min -->
		<div class="form-group col-md-4">
			<label>Número telefónico:</label>
			<div class="input-group">
				<input type="text" name="from" class="form-control" value="593 22555555" />
			</div>
		</div>
		<!-- // Min END -->
		
		<!-- Min -->
		<div class="form-group col-md-4">
			<label>Número celular:</label>
			<div class="input-group">
				<input type="text" name="from" class="form-control" value="59393017223" />
			</div>
		</div>
		<!-- // Min END -->
		
		<br><br>
		
		<!-- Min -->
		<div class="form-group col-md-4">
			<label>email InnoBee:</label>
			<div class="input-group">
				<input type="text" name="from" class="form-control" value="@innobee.com" />
			</div>
		</div>
		<!-- // Min END -->

		<div class="clearfix"></div>
		</form>
	</div>
	
	<div class="separator-h"></div>
		<h4>Datos profesionales</h4>
		<div class="separator-h"></div>
		<!-- Filters -->
		<div class="filter-bar">
			<form class="margin-none form-inline">

			<!-- Min -->
			<div class="form-group col-md-4">
				<label>Nombre de la empresa</label>
				<div class="input-group">
					<input type="text" name="from" class="form-control" value="10 de agosto" />
				</div>
			</div>
			<!-- // Min END -->
			
			<!-- Min -->
			<div class="form-group col-md-4">
				<label>Dirección (Calle principal)</label>
				<div class="input-group">
					<input type="text" name="from" class="form-control" value="10 de agosto" />
				</div>
			</div>
			<!-- // Min END -->
			
			<!-- Min -->
			<div class="form-group col-md-4">
				<label>Dirección (Calle secundaria)</label>
				<div class="input-group">
					<input type="text" name="from" class="form-control" value="Ave. Colon" />
				</div>
			</div>
			<!-- // Min END -->
			
			<br><br>
			
			<!-- Select -->
				<div class="form-group col-md-4">
					<label>País</label>
					<div class="row">
						<select class="selectpicker col-md-6">
							<option>Ecuador</option>
						</select> 
					</div>
				</div>
			<!-- // Select END -->
			
			<!-- Select -->
				<div class="form-group col-md-4">
					<label>Provincia</label>
					<div class="row">
						<select class="selectpicker col-md-6">
							<option>Pichincha</option>
						</select> 
					</div>
				</div>
			<!-- // Select END -->
			
			<!-- Select -->
				<div class="form-group col-md-4">
					<label>Ciudad</label>
					<div class="row">
						<select class="selectpicker col-md-6">
							<option>Quito</option>
						</select> 
					</div>
				</div>
			<!-- // Select END -->
			
			<br><br>

			<!-- Min -->
			<div class="form-group col-md-4">
				<label>Sector</label>
				<div class="input-group">
					<input type="text" name="from" class="form-control" value="Mariana de Jesus" />
				</div>
			</div>
			<!-- // Min END -->
			
			<!-- Min -->
			<div class="form-group col-md-4">
				<label>Código Postal</label>
				<div class="input-group">
					<input type="text" name="from" class="form-control" value="EC174534" />
				</div>
			</div>
			<!-- // Min END -->
			
			<!-- Min -->
			<div class="form-group col-md-4">
				<label>Título profesional</label>
				<div class="input-group">
					<input type="text" name="from" class="form-control" value="Ingeniero civil" />
				</div>
			</div>
			<!-- // Min END -->
			
			<br><br>
			
			<!-- Min -->
			<div class="form-group col-md-4">
				<label>Area de trabajo</label>
				<div class="input-group">
					<input type="text" name="from" class="form-control" value="Construcción" />
				</div>
			</div>
			<!-- // Min END -->
			
			<!-- Min -->
			<div class="form-group col-md-4">
				<label>Carrera que estudia</label>
				<div class="input-group">
					<input type="text" name="from" class="form-control" value="Ingeniería Comercial" />
				</div>
			</div>
			<!-- // Min END -->
			
			<!-- Min -->
			<div class="form-group col-md-4">
				<label>Lugar donde estudia</label>
				<div class="input-group">
					<input type="text" name="from" class="form-control" value="Universidad Central del Ecuador" />
				</div>
			</div>
			<!-- // Min END -->
			
			</form>
			
	<div class="clearfix"><br /></div></div>

	
	<div class="separator-h"></div>
		<h4>Datos sociales</h4>
		<div class="separator-h"></div>
		<!-- Filters -->
		<div class="filter-bar">
			<form class="margin-none form-inline">
			
			<!-- Min -->
			<div class="form-group col-md-3">
				<label>Perfil en Facebook:</label>
					<div class="input-group">
						<input type="text" name="from" class="form-control" value="http://" />
					</div>
			</div>
			<!-- // Min END -->
			
			<!-- Min -->
			<div class="form-group col-md-3">
				<label>Perfil en Twitter:</label>
					<div class="input-group">
						<input type="text" name="from" class="form-control" value="http://" />
					</div>
			</div>
			<!-- // Min END -->
			
			<!-- Min -->
			<div class="form-group col-md-3">
				<label>Perfil en LinkedIn:</label>
					<div class="input-group">
						<input type="text" name="from" class="form-control" value="http://" />
					</div>
			</div>
			<!-- // Min END -->
			
			<!-- Min -->
			<div class="form-group col-md-3">
				<label>Perfil en Google+:</label>
					<div class="input-group">
						<input type="text" name="from" class="form-control" value="http://" />
					</div>
			</div>
			<!-- // Min END -->
			
			<br><br>
			
			<!-- footer -->
						<!-- With selected actions -->
						<div class="pull-left">
							<button class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
						</div>
						<!-- // With selected actions END -->
						<div class="clearfix"></div>
						<!-- // footer END -->
	
			<div class="clearfix"></div>
			</form>
		</div>
	
		
	</div>
<!-- First grid -->

{% endblock %}
{% block bottom_javascripts %}  
	<!-- Global -->
	<script data-id="App.Config">
	var App = {};	var basePath = '',
		commonPath = '{{ STATIC_URL }}',
		rootPath = '../',
		DEV = false,
		componentsPath = '{{ STATIC_URL }}components/';
	
	var primaryColor = '#3695d5',
		dangerColor = '#b55151',
		successColor = '#609450',
		infoColor = '#4a8bc2',
		warningColor = '#ab7a4b',
		inverseColor = '#45484d';
	
	var themerPrimaryColor = primaryColor;

		</script>
	
	<script src="{{ STATIC_URL }}components/library/bootstrap/js/bootstrap.min.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/plugins/breakpoints/breakpoints.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/plugins/preload/pace/pace.min.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/plugins/preload/pace/preload.pace.init.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/core/js/animations.init.js?v=v1.0.2"></script>

<script src="{{ STATIC_URL }}components/core/js/sidebar.main.init.js?v=v1.0.2"></script>
<script src="{{ STATIC_URL }}components/core/js/sidebar.discover.init.js?v=v1.0.2"></script>
<script src="{{ STATIC_URL }}components/core/js/core.init.js?v=v1.0.2"></script>

<script src="{{ STATIC_URL }}components/common/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/common/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.0.2&sv=v0.0.1"></script>

<script src="{{ STATIC_URL }}components/common/forms/validator/assets/lib/jquery-validation/dist/jquery.validate.min.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/common/forms/validator/assets/custom/form-validator.init.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/common/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.0.2&sv=v0.0.1"></script>

<script src="{{ STATIC_URL }}components/modules/admin/modals/assets/js/bootbox.min.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/modules/admin/modals/assets/js/modals.init.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/modules/admin/notifications/gritter/assets/lib/js/jquery.gritter.min.js?v=v1.0.2&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}components/modules/admin/notifications/gritter/assets/custom/js/gritter.init.js?v=v1.0.2&sv=v0.0.1"></script>
{% endblock %}
